# Django
DJANGO_SECRET_KEY=cambie-esta-clave-por-una-larga-y-aleatoria
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Use true únicamente para presentar la interfaz sin la red institucional.
DEMO_MODE=false

# SQL Server institucional
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_SERVER=
DB_PORT=
DB_NAME=
DB_USER=USUARIO_SQL_SERVER
DB_PASSWORD=CONTRASENA_SQL_SERVER
DB_TRUSTED_CONNECTION=no
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=yes
DB_TIMEOUT=8

# Vista que alimenta el login real.
LOGIN_VIEW=dbo.dim_con_mov_turno

# Procedimientos de lectura incluidos en sql/01_procedimientos_lectura.sql
SP_TURNOS_ACTIVOS=dbo.sp_bitacora_turnos_activos
SP_TURNOS_ID_PARAM=@idusuario
SP_BUQUES_INDUSTRIALES=dbo.sp_bitacora_buques_industriales
SP_BUQUES_ARTESANALES=dbo.sp_bitacora_buques_artesanales

# Reporte INEC
SPJ_REPORTE_INEC=dbo.SPJ_REPORTE_INEC
SPJ_REPORTE_INEC_FECHAINIT_PARAM=@s_fechaInit
SPJ_REPORTE_INEC_FECHAFIN_PARAM=@s_fechaFin
