# Django
DJANGO_SECRET_KEY=cambie-esta-clave-por-una-larga-y-aleatoria
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Use true únicamente para presentar la interfaz sin la red institucional.
DEMO_MODE=false

# SQL Server institucional
DB_DRIVER=
DB_SERVER=
DB_PORT=
DB_NAME=
DB_USER=USUARIO_SQL_SERVER
DB_PASSWORD=CONTRASENA_SQL_SERVER
DB_TRUSTED_CONNECTION=no
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=yes
DB_TIMEOUT=8

# Procedimiento REAL que valida usuario y contraseña.
# Puede estar en otra base: op_claves.dbo.nombre_procedimiento
SP_LOGIN=op_claves.dbo.sp_validar_usuario
SP_LOGIN_USER_PARAM=@usuario
SP_LOGIN_PASSWORD_PARAM=@clave

# Procedimientos de lectura incluidos en sql/01_procedimientos_lectura.sql
SP_TURNOS_ACTIVOS=dbo.sp_bitacora_turnos_activos
SP_TURNOS_ID_PARAM=@idusuario
SP_BUQUES_INDUSTRIALES=dbo.sp_bitacora_buques_industriales
SP_BUQUES_ARTESANALES=dbo.sp_bitacora_buques_artesanales
